* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: 'DotGothic16',Verdana, Geneva, Tahoma, sans-serif  ;
  /* background: rgb(68, 63, 63); */
  background: url(images/Background\ film\ -\ modern.gif);  
  opacity: 0.8;
}
.header {
   background:#55d6aa; 
   display: flex;
   justify-content: space-between; 
   /* height: 50px;  */
}
.detailsBtn {
    margin: 0 0 2px 15px; 
    height: auto;
    background: #7C7C7C;
	border-bottom: 3px inset rgba(0,0,0,.5);
	border-left: 3px inset rgba(0,0,0,.5);
	border-right: 3px inset rgba(255,255,255,.5);
	border-top: 3px inset rgba(255,255,255,.5);
	color:white;
	cursor: pointer;
	display: inline-block; 
    text-transform: uppercase;
    font-family: 'DotGhotic16',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.detailsBtn:hover {
    background: #BCBCBC;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 70px;
    margin: 0 0 0 35px;
    cursor:pointer;
}
.nav ul {
    list-style: none;

}
.nav li {
    display: inline-block;
    margin: 20px 20px 0 70px;
    font-size: 25px;
    position: relative; 
    
}
.nav ul li a {
    color: #444;
    font-family: 'DotGothic16';
    text-decoration: underline;   
}
.nav ul li a:hover {
    color: #000;
}
.nav ul li a::before {
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    margin-top: -20px;
    width: 0%;
    transition:all ease-in-out 250ms ;
}
.nav ul li a:hover::before{
    width: 100%;
}
.main {
    display: grid;
    /* grid-template:auto/1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template:auto/1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 10px;
    margin: 100px 0px 0 20px;
    max-width: 20px;
}
.productCard {
    background: white;
    font-family: 'DotGothic16';
}
.productCard img {
    height: 240px;
    width: 200px; 
}
.productName {
    margin: 0 0 -10px 0 ;
}
.cardDetails {
    background:#55d6aa;
    height:80px; 
    display: grid; 
    text-align: center; 
    font-size: 18px;
}
.addProductCard {
    display: grid;
    grid-template:auto/1fr 2fr 1fr;
    background-color: #55d6aa;
    margin: 50px 20px 0 20px;
    height: 374px;
}
.addProductCard img {
    width: 241px;
    height: 374px;
}
.addProductCard-text {
    display: grid;
    grid-template:93px 93px 93px 80px/auto;
    color: #444;
    font-family: 'DotGothic16';
    font-size: 30px;
    height: 200px;
    margin: 0 0 0 0px;
}
.fade_x1{
    opacity: 75%;
}
.fade_x2{
    opacity: 50%;
}
.addToCartBtn {
    text-transform: uppercase;
    font-size: 30px;
    color:white;
	cursor: pointer;
	display: inline-block; 
    border-bottom: 3px inset rgba(0,0,0,.5);
	border-left: 3px inset rgba(0,0,0,.5);
	border-right: 3px inset rgba(255,255,255,.5);
	border-top: 3px inset rgba(255,255,255,.5);
    display: grid;
    grid-column: 1/5;
    margin: 0px 50px 0 20px; 
    background: #7C7C7C;
}
.addToCartBtn:hover {
    background: #BCBCBC;
}
.cart-container {
    margin: 50px 0px 0 240px;
    width: 600px;
    height: 300px;
    text-align: center;
    display: grid;
    grid-template:auto/1fr 1fr 1fr ;
    background:#55d6aa;
    font-family: 'DotGothic16';
}
.cartProducts-quantity-style {

}
.cartProducts-quantity-style input{
    width: 50px;
}
.cartProducts-quantity-style a{
    margin: 0 0 0 2px;
    border:none ;
    background: inherit;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;  
    color: #444;
}

.cartProducts-quantity-style a:hover {
    color:#a79e9e;
    text-decoration: none;
}
.checkoutBtn {
    width: 601px;
    margin: -16px 0 0 240px;
    height: 60px;
}
.checkoutBtn:hover{
    background:#BCBCBC;
}
.totalDiv {
    margin: 0 0 0 240px;
    width: 600px ;
    text-align: center;
    background: #55d6aa;
    font-size: 25px;
    font-family: 'DotGothic16';
}